@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garantir que o HTML e o Body ocupem a tela inteira e remover margens padrão */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* Fundo preto para imersão total e foco na cena */
  overflow: hidden; /* CRUCIAL: Previne barras de rolagem em experiências imersivas */
}